<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">

        <link rel='stylesheet' href='/static/css/style_embed.css' type='text/css' />

        <!-- dependency -->
        <script src="/static/js/vtkweb-loader.js" load="core, jquery-ui, pv-visualizer"></script>
        <script src="/static/js/mainPV.js"></script>
        <script type="text/javascript">
            $(function() {
                // Center the clicktostart element.
                var clicktostart = $(".clicktostart");
                clicktostart.css("margin-top", (clicktostart.parent().innerHeight() - clicktostart.height())*0.5);

                //-----------------------------------------------------------------------------
                // 'global' variables.
                var pview = {};   
                var hostIP = "104.196.120.212";
          
                $(window).resize(function() {
                    if (pview.viewport) {
                        pview.viewport.render();
                    }
                }).trigger('resize');
           
                // if the user clicks on the empty viewport, we start a new session
                // if one hasn't already been started.
                $("#viewport").click(function() {
                    if ($(this).hasClass("session_started")) {
                        return;
                    }
                    // We start a new ParaView session everytime the user clicks on
                    // the the page.
                    if (!pview.connection) {
                        $(this).addClass("session_started");
                        $(".clicktostart").html("Loading ...");

                        var serviceURL = location.protocol + "//" + hostIP +
                        	":" + location.port + "/paraview";
                        
                        var config = {
                            sessionManagerURL: serviceURL,
                            name: "Test Visualizer",
                            description: "3D visualization with ParaView/Web",
                            application: "loader"
                        };

                        // Start a new ParaView/Web instance.
                        vtkWeb.start(config,
                        function (conn) {
                            setupConnection(conn);
                        },
                        function (err) {
                            //console.log("Connection failed.");

                            var conn = {
                                sessionURL: "ws://" + hostIP + ":" + location.port + "/ws"
                            };
                            setupConnection(conn);
                        }
                    );
                    }
                });

                //----------------------------------------------------------------------------
                // Setup paraview 2
                function setupConnection(connection) {
                    if(location.protocol == "http:") {
                        connection.sessionURL = connection.sessionURL.replace("wss:","ws:");
                    }

                    // connect to the ParaView/Web instance, so we can start
                    // visualizing.
                    vtkWeb.connect(connection,
                    function(conn) {
                        pview.connection = conn;
                        pview.viewport = vtkWeb.createViewport({session:conn.session});
                        pview.viewport.setActiveRenderer('webgl');
                        pview.viewport.resetCamera();
                        pview.viewport.bind("#viewport");
                        pv.initializeVisualizer(
                                connection.session,
                                '.pv-viewport', '.pv-pipeline', '.pv-proxy-editor', '.pv-files', '.pv-source-list',
                                '.pv-filter-list', '.pv-data-info', '.pv-global-settings-editor', '.pv-savedata-options');

                        var filePath= getParameter("data");

                        if (filePath !== "") {
                            pview.connection.session.call("pview.file.loader.open.file", [filePath]).then(
                            function(reply){pview.viewport.render();});
                        }
                        //$("#options").show();
                    },
                    function(code,reason){
                        pview.connection = null;
                        console.log(reason);
                        cleanup();
                    }
                );
                }

                function cleanup() {
                    if (pview.viewport) {
                        pview.viewport.unbind();
                    }
                    if (pview.connection) {
                        pview.connection.session.call('application.exit');
                        pview.connection.session.close;
                    }
                    $("#options").hide();
                    pview = {};
                    $("#viewport").removeClass("session_started");
                    $(".clicktostart").html("Click to Start");
                }

                function getParameter(name) {
                    name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
                    var regexS = "[\\?&]" + name + "=([^&#]*)";
                    var regex = new RegExp(regexS);
                    var results = regex.exec(window.location.search);
                    if (results == null) {
                        return "";
                    } else {
                        return decodeURIComponent(results[1].replace(/\+/g, " "));
                    }
                }

            });
        </script>
    </head>
    <body>
        <div class="row-fluid app-wait-start-page">
	        <img src="start_page_image.png" class="span12 start-page-image">
	        <div class="vtk-icon-cog animate-spin start-page-busy-icon"></div>
	    </div>
	    <div class='row pv-gray-darker head-toolbar hide-on-start'>
	        <div class='col-xs-12 col-sm-5 col-md-4 col-lg-3 '>
	            <img src='toolbar_logo.svg'
	                 class='clickable toggle-inspector'
	                 height='20'
	                 style='margin: 5px 0;'
	                 data-toggle='tooltip'
	                 data-placement='bottom'
	                 title='Toggle Inspector Panel'/>
	            <span
	                class='vtk-icon-flow-cascade clickable padding inspector-selector' data-type='pipeline' data-toggle='tooltip' data-placement='bottom' title='Show Pipeline'>
	            </span>
	            <span
	                class='vtk-icon-doc-text clickable padding inspector-selector' data-type='files' data-toggle='tooltip' data-placement='bottom' title='Show File List'>
	            </span>
	            <span
	                class='vtk-icon-plus clickable padding inspector-selector' data-type='sources' data-toggle='tooltip' data-placement='bottom' title='Show Sources/Filters'>
	            </span>
	            <span
	                class='vtk-icon-info-1 clickable padding inspector-selector need-input-source' data-type='info' data-toggle='tooltip' data-placement='bottom' title='Show Data Info'>
	            </span>
	            <span
	                class='vtk-icon-resize-full-alt-1 reset-camera clickable' data-toggle='tooltip' data-placement='bottom' title='Reset Camera'>
	            </span>
	            <span
	                class='vtk-icon-floppy clickable padding inspector-selector' data-type='saveopts' data-toggle='tooltip' data-placement='bottom' title='Show Save Options'>
	            </span>
	            <span
	                class='vtk-icon-clock-1 toggle-time-toolbar clickable' data-toggle='tooltip' data-placement='bottom' title='Toggle VCR Controls'>
	            </span>
	            <span
	                class='vtk-icon-cog-alt clickable padding inspector-selector float-right not-busy' data-type='preferences' style="margin: 2px 0" data-toggle='tooltip' data-placement='bottom' title='Show Preferences'>
	            </span>
	            <span class='vtk-icon-spin4 busy animate-spin clickable float-right'>
	            </span>
	        </div>
	        <div class='col-xs-12 col-sm-5 col-md-4 col-lg-9 vcr-control'>
	            <span class='vtk-icon-to-start vcr-action clickable' data-action='first' data-toggle='tooltip' data-placement='bottom' title='To First'></span>
	            <span class='vtk-icon-fast-bw vcr-action clickable' data-action='prev' data-toggle='tooltip' data-placement='bottom' title='To Previous'></span>
	            <span class='vtk-icon-play vcr-play clickable' data-toggle='tooltip' data-placement='bottom' title='Play'></span>
	            <span class='vtk-icon-stop vcr-stop clickable' data-toggle='tooltip' data-placement='bottom' title='Stop'></span>
	            <span class='vtk-icon-fast-fw vcr-action clickable' data-action='next' data-toggle='tooltip' data-placement='bottom' title='To Next'></span>
	            <span class='vtk-icon-to-end vcr-action clickable' data-action='last' data-toggle='tooltip' data-placement='bottom' title='To Last'></span>
	            <input type='text' class='pv-time-input time-value pv-gray-darker' value='0.0'/>
	            <span class='vtk-icon-download vcr-fetch-times clickable local-only' data-action='allsteps' data-toggle='tooltip' data-placement='bottom' title='Fetch All Timesteps'></span>
	            <span class='vtk-icon-trash vcr-clear-cache clickable local-only' data-action='clearcache' data-toggle='tooltip' data-placement='bottom' title='Clear Cache'></span>
	        </div>
	    </div>
	
	    <div class="row hide-on-start">
	        <div class='col-xs-12 col-sm-5 col-md-4 col-lg-3 scroll-overflow fix-height pv-gray-lighter-transparent lower-right-round-corner inspector-container' style='z-index: 1000; overflow-y: auto; overflow-x: hidden;'>
	            <div class="row inspector" data-type="pipeline">
	                <div class='clickable col-xS-12 col-sm-12 col-md-12 col-lg-12 nopadding pv-pipeline'>
	                </div>
	                <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12 pv-proxy-editor'>
	                </div>
	            </div>
	            <div class="row inspector" data-type="files">
	                <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12 pv-files'>
	                </div>
	            </div>
	            <div class="row inspector" data-type="sources">
	                <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12 pv-source-list nopadding'>
	                </div>
	                <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12 pv-filter-list nopadding need-input-source'>
	                </div>
	            </div>
	            <div class="row inspector" data-type="info">
	                <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12 pv-data-info'>
	                </div>
	            </div>
	            <div class="row inspector" data-type="preferences">
	                <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12 pv-preferences'>
	                    <div class="row" style='margin-top: 15px;'>
	                        <label class='col-sm-5 control-label'
	                               data-toggle='tooltip'
	                               data-placement='right'
	                               title='Select rendering mode'>Rendering</label>
	                        <div class='col-sm-5'>
	                            <select class='pv-update-viewport' data-property-name='ActiveRendererType'>
	                                <option value='image'>Remote</option>
	                                <option value='vgl'>Local (VGL)</option>
	                                <option value='webgl'>Local (deprecated)</option>
	                            </select>
	                        </div>
	                    </div>
	                    <div class="row">
	                        <label class='col-sm-5 control-label'
	                               data-toggle='tooltip'
	                               data-placement='right'
	                               title='Toggle local rendering statistics'>Statistics</label>
	                        <div class='col-sm-5'>
	                            <input type='checkbox' class='pv-update-viewport checkbox' data-property-name='Stats'/>
	                        </div>
	                    </div>
	                    <div class="row">
	                        <label class='col-sm-5 control-label'
	                               data-toggle='tooltip'
	                               data-placement='right'
	                               title='Shutdown server process when leaving page'>Auto&nbsp;shutdown</label>
	                        <div class='col-sm-5'>
	                            <input type='checkbox' class='pv-update-viewport checkbox' data-property-name='CloseBehavior' checked/>
	                        </div>
	                    </div>
	                    <div class="row" style="height: 15px;"><br/></div>
	                </div>
	                <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12 pv-global-settings-editor'>
	                </div>
	            </div>
	            <div class="row inspector" data-type="saveopts" style="display: none;">
	                <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12 pv-savedata-options'>
	                    <div class="row">
	                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 btn-group btn-group-sm" role="group" aria-label="Save Types" style="margin-top: 15px;">
	                            <button type="button" data-action="screen" class="btn btn-default active-panel-btn col-xs-4 col-sm-4 col-md-4 col-lg-4">Screenshot</button>
	                            <button type="button" data-action="data" class="btn btn-default active-panel-btn col-xs-4 col-sm-4 col-md-4 col-lg-4">Data</button>
	                            <button type="button" data-action="state" class="btn btn-default active-panel-btn col-xs-4 col-sm-4 col-md-4 col-lg-4">State</button>
	                        </div>
	                    </div>
	                    <div class="row screenshot-save-only label-spacing">
	                        <div class="col-xs-12">
	                            Desired Resolution
	                            <span class="vtk-icon-arrows-cw screenshot-reset-size-btn clickable float-right" data-toggle='tooltip' data-placement='bottom' title='Current Screen Size'></span>
	                        </div>
	                    </div>
	                    <div class="row screenshot-save-only">
	                        <div class="col-xs-12 text-center">
	                            <input type="text" style="width: 45%" class="screenshot-pixel-width light-form-control input-sm float-left">
	                            x
	                            <input type="text" style="width: 45%" class="screenshot-pixel-height light-form-control input-sm float-right">
	                        </div>
	                    </div>
	                    <div class="row label-spacing">
	                        <div class="col-xs-4">
	                            Filename
	                        </div>
	                        <div class="col-xs-8 text-right">
	                            <span class="data-save-only active-data-type-label"></span>
	                        </div>
	                    </div>
	                    <div class="row">
	                        <div class="col-xs-12">
	                            <input type="text" class="save-data-filename form-control input-sm" data-toggle='tooltip' data-placement='bottom' title='Enter relative path and filename to server location where file should be written'/>
	                        </div>
	                    </div>
	                    <div class="row label-spacing">
	                        <div class="col-xs-6">
	                            <button type="button"
	                                    class="screenshot-save-only screenshot-grab-image-btn btn btn-default btn-sm"
	                                    data-toggle="tooltip"
	                                    data-placement="bottom"
	                                    title="Capture contents of render window">Capture</button>
	                        </div>
	                        <div class="col-xs-6 text-right">
	                            <button type="button"
	                                    class="save-data-button btn btn-default btn-sm"
	                                    data-toggle="tooltip"
	                                    data-placement="bottom"
	                                    title="Save file to server">Save</button>
	                        </div>
	                    </div>
	                    <div class="row label-spacing captured-screenshot-container screenshot-save-only">
	                        <div class="col-xs-12">
	                            <img class="captured-screenshot-image hidden" width="100%" style="border: 1px solid black;" data-toggle='tooltip' data-placement='top' title='To save full size image locally, right-click image and choose "Save Image As..."'></img>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	        <div class='no-overflow pv-viewport fix-height shift-top' style='width: 100%; position: absolute;'>
	        </div>
	    </div>
        <div id="viewport" class="fullscreen">
            <p class="clicktostart">Click to Start</p>
        </div>
        <!-- 
        <button id="options" class="anchor-bottom-right transparent">Options</button>
        <ul id="menu" style="list-style-type:none">
            <li class="stats show"><a>Show Statistics</a></li>
            <li class="resetview"><a>Reset View</a></li>
            <li class="disconnect"><a>Disconnect</a></li>
        </ul>
        -->
    </body>
</html>
